* {
  transition: 0.2s ease;
  margin: 0;
}

/* Navbar styles */
#nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--light-green);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 999;
  transition: top 0.3s;
}

.nav-bar {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.nav-logo {
  width: 12rem;
}

.burger {
  color: var(--black);
  transform: scale(1.1);
}

.burger:active {
  color: var(--dark-green);
}

/* NavLink Styles */
.nav-links {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  align-items: flex start;
}

.home-link,
.nav-category {
  color: var(--black);
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
  text-decoration: none;
}

.home-link:hover {
  color: var(--dark-green);
  text-decoration: underline;
}

.nav-category {
  border-bottom: 2px solid var(--black);
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0.2rem 0;
}

.login-link {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: var(--black);
  text-decoration: none;
}

.nav-link:hover,
.login-link:hover {
  color: var(--dark-green);
  text-decoration: underline;
}

.nav-link.active,
.home-link.active,
.login-link.active {
  color: var(--dark-green);
  font-weight: 600;
}

@media screen and (max-width: 1425px) {
}

@media screen and (max-width: 1051px) {
}

@media screen and (max-width: 431px) {
  .nav-logo {
    width: 10rem;
  }

  .burger {
    transform: scale(1);
  }

  .nav-bar {
    padding: 0.75rem 0rem;
  }
}

@media screen and (max-width: 391px) {
}
