/* videos.css */
.videos-container {
  margin-top: 20px;
}

.video-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 80%; 
  margin-left: auto;
  margin-right: auto; /
}

.highlight-card {
  width: calc(25% - 20px); 
  margin-bottom: 20px;
  margin-right: 20px; 
}

.highlight-card:last-child {
  margin-right: 0; 
}

.card-media {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.video-player {
  position: relative;
  padding-top: 43%;
  padding-left: 100%;
  
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
}

