/* videos.css */
.video-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 78%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 10rem;
}

.highlight-card {
  width: 20rem;
  height: 24rem;
  background-color: var(--light-green) !important;
}

.card-media {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 1rem !important;
}

.video-player {
  position: relative;
  margin: 20rem !important;
}

.videos-container {
  position: absolute;
  bottom: 5% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin-top: 0 !important;
  height: 100% !important;
}

.css-rnmm7m-MuiPaper-root-MuiDialog-paper {
  height: 30rem !important;
  width: 50rem !important;
}

@media screen and (max-width: 1051px) {
  .highlight-card {
    width: 10rem !important;
    height: 20rem !important;
  }

  .card-title {
    font-size: 1rem !important;
  }
}
